pipeline/pl_lookup_and_if.json
{
	"name": "pl_lookup_and_if",
	"properties": {
		"activities": [
			{
				"name": "lookup_get_record_count_customer",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as recordCount from saleslt.customer",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_asqldb_customer",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "if_check_gt_500",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "lookup_get_record_count_customer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('lookup_get_record_count_customer').output.firstRow.recordCount,500)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "copy_customer_data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_asqldb_customer",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_csv_customer",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "ep_call_child_pipeline_product",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "copy_customer_data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_child_ingestion_product",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-01-01T10:59:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}